<% if flash[:notice] %>
  <div class="" role="alert">
    <span class=""><%= notice %></span>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="" role="alert">
    <span class=""><%= alert %></span>
  </div>
<% end %>